/**
* GRID
* System by James Morris
*/ 

@import 'variables.less';
@import 'core-mixins.less';


.column-tools {
   float: left;
  .box-sizing();
}

[class*="span"],
[class*="offset"] {
  .column-tools;
}

.span-maker(@numCols, @gutterPercent: @gutterPercent, @maxCols: 1, @maxGridCols: @maxGridCols) {
    @oneCol: (100% - (@gutterPercent * (@maxGridCols - 1))) / @maxGridCols;
    @multiCol: (@oneCol * @numCols) + (@gutterPercent * (@numCols - 1));
    //@oneGut: @multiCol - @oneCol;
    //@newNum:  @numCols;

    @origGut: unit((@gutterPercent / 100) * @maxWidth, px); //16px;
    @origCol: unit((@oneCol / 100) * @maxWidth, px); //153.33333333333334px
    @origMultiCol: @origGut + @origCol; // Should be 169.33333333px;
    
    // IF STATEMENTS HERE TO SORT THE WIDTHS FOR EACH LEVEL
    // .oneCol (@numCols) when (@numCols = 1)  { 
    //   width: @multiCol;
    //   background: yellow;
    // }
    .oneCol (@numCols) when (@numCols = 1)  { 
      width: @oneCol;
    }
    .oneColNest (@numCols) when (@numCols = 1) and (@maxCols > 1)  {
      //What's the new max width? Work it out from the cols given.
      @nestMaxWidth: (@maxCols * @origCol) + (@origGut * (@maxCols - 1));
      //Make new gutter
      margin-left: percentage((@origGut / @nestMaxWidth)); 
      // Make it percentage of the max witdth
      width: percentage((@origCol / @nestMaxWidth));  
    }
    .anyCol (@numCols) when (@numCols > 1 ) and (@numCols < @maxCols)  { 

      //Total aval width
      @nestMaxWidth: (@maxCols * @origCol) + (@origGut * (@maxCols - 1));
      // Width of wanted columns
      @colWidth: (@numCols * @origCol) + (@origGut * (@numCols - 1));
      // Do the workings
      @width: @colWidth;

      margin-left: percentage((@origGut / @nestMaxWidth)); 
      width: percentage(@width / @nestMaxWidth);
    }
    .maxCol (@numCols) when (@numCols > 1 ) and (@numCols = @maxCols) {
      width: percentage(((@maxCols * @origMultiCol) - 16) / (@maxWidth));
    }

    .column-tools();
    .oneCol(@numCols);
    .oneColNest(@numCols);
    .anyCol(@numCols);
    .maxCol(@numCols);

}

.offset-maker(@numCols, @gutterPercent: @gutterPercent,  @maxCols: 1, @maxGridCols: @maxGridCols) {
    @oneCol: (100% - (@gutterPercent * (@maxGridCols - 1))) / @maxGridCols;
    @multiCol: (@oneCol * @numCols) + (@gutterPercent * (@numCols - 1));
    //@oneGut: @multiCol - @oneCol;
    //@newNum:  @numCols;

    @origGut: unit((@gutterPercent / 100) * @maxWidth, px); //16px;
    @origCol: unit((@oneCol / 100) * @maxWidth, px); //153.33333333333334px
    @origMultiCol: @origGut + @origCol; // Should be 169.33333333px;
    
    // IF STATEMENTS HERE TO SORT THE WIDTHS FOR EACH LEVEL
    // .oneCol (@numCols) when (@numCols = 1)  { 
    //   width: @multiCol;
    //   background: yellow;
    // }
    .oneCol (@numCols) when (@numCols = 1)  { 
      margin-left: @oneCol;
    }
    .oneColNest (@numCols) when (@numCols = 1) and (@maxCols > 1)  {
      //What's the new max width? Work it out from the cols given.
      @nestMaxWidth: (@maxCols * @origCol) + (@origGut * (@maxCols - 1));
      //Make new gutter
      margin-left: percentage((@origCol / @nestMaxWidth));
    }
    .anyCol (@numCols) when (@numCols > 1 ) and (@numCols < @maxCols)  { 
      //Total aval width
      @nestMaxWidth: (@maxCols * @origCol) + (@origGut * (@maxCols - 1));
      // Width of wanted columns
      @colWidth: (@numCols * @origCol) + (@origGut * (@numCols));
      // Do the workings
      @width: @colWidth;
      margin-left: percentage(@width / @nestMaxWidth);
    }
    .maxCol (@numCols) when (@numCols > 1 ) and (@numCols = @maxCols) {
      margin-left: percentage(((@maxCols * @origMultiCol) - 16) / (@maxWidth));
    }

    .oneCol(@numCols);
    .oneColNest(@numCols);
    .anyCol(@numCols);
    .maxCol(@numCols);

}

.span-maker-first() {
    margin-left:0 !important;
}      

[class*="span"] {
    margin-left: 1.6%;
}
.row [class*="span"]:first-child {
    .span-maker-first();
}

.row {
  max-width: @maxWidth;
  margin-left: auto;
  margin-right: auto;
  .clearfix();  
}        

   

/**
 * TOP LEVEL HELPER PRESETS FOR HTML OFFSET AND SPAN CLASSES
 * SPAN: inside row class element add class="span2" to element
 * OFFSET: inside row class element add class="offset2" to element
 *
 * REMOVE: If you are using LESS mixins for grid SPANS & OFFSETS
 */

.row {
  .span1 {
      .span-maker(1, @gutterPercent, @maxGridCols);
  }
  .span2 {
      .span-maker(2, @gutterPercent, @maxGridCols);
  }
  .span3 {
      .span-maker(3, @gutterPercent, @maxGridCols);
  }
  .span4 {
      .span-maker(4, @gutterPercent, @maxGridCols);
  }
  .span5 {
      .span-maker(5, @gutterPercent, @maxGridCols);
  }
  .span6 {
      .span-maker(6, @gutterPercent, @maxGridCols);
  }
  .span7 {
      .span-maker(7, @gutterPercent, @maxGridCols);
  }
  .span8 {
      .span-maker(8, @gutterPercent, @maxGridCols);
  }
  .span9 {
      .span-maker(9, @gutterPercent, @maxGridCols);
  }
  .span10 {
      .span-maker(10, @gutterPercent, @maxGridCols);
  }
  .span11 {
      .span-maker(11, @gutterPercent, @maxGridCols);
  }
  .span12 {
      .span-maker(12, @gutterPercent, @maxGridCols);
  }
  .span13 {
      .span-maker(13, @gutterPercent, @maxGridCols);
  }
  .span14 {
      .span-maker(14, @gutterPercent, @maxGridCols);
  }
  .span15 {
      .span-maker(15, @gutterPercent, @maxGridCols);
  }
  .span16 {
      .span-maker(16, @gutterPercent, @maxGridCols);
  }
}

.row {
  [class*="offset"].offset1 {
      .offset-maker(1, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset2 {
      .offset-maker(2, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset3 {
      .offset-maker(3, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset4 {
      .offset-maker(4, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset5 {
      .offset-maker(5, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset6 {
      .offset-maker(6, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset7 {
      .offset-maker(7, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset8 {
      .offset-maker(8, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset9 {
      .offset-maker(9, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset10 {
      .offset-maker(10, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset11 {
      .offset-maker(11, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset12 {
      .offset-maker(12, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset13 {
      .offset-maker(13, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset14 {
      .offset-maker(14, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset15 {
      .offset-maker(15, @gutterPercent, @maxGridCols);
  }
  [class*="offset"].offset16 {
      .offset-maker(15, @gutterPercent, @maxGridCols);
  }
}

