/**
 * Author(s): James Morris
 *
 * THEME: PINE
 *
 * Styles to nicely present the style guid. 
 */

@import 'variables.less';
@import 'core-mixins.less';
@import 'site-mixins.less';
@import 'grid.less';

/* CODE HERE */

.wrapper {
  width: 100%;
}

header {
  width: 100%;
  position: fixed;
  z-index: 20;
  .wrapper {
    background: @colorPrimary;
    .box-sizing();
    padding: 1.8em 0em 1.85em 0em;
  }
  h1 {
    margin-bottom: 0;
    color: @colorGrey;
    font-size: 2.4em;
  }
}

.related-artists {
  padding-top: 9em;
  padding-bottom: 1.5em;
  border-bottom: 1px dotted @colorMeta;
  & + .row {
    margin-top: 2.5em;
  }
  svg {
    .link {
      stroke: #999;
      stroke-opacity: .6;
    }
  }
}

section,
main {
  padding: 1.8em 0em 1.85em 0em;
}

section:nth-child(odd) {
  background: @colorMeta;
  color: @colorWhite
}

.lists {
  dl.coffee dt {
    font-size: @sizeM;
  }
}

.images {
  .clearfix();
  padding-bottom: 0;
}

.image-text {
  position: relative;
  margin: 0 auto;
  width: 100%;
  line-height: 0;
  padding: 0;
  figcaption {
    font-size: @sizeSu;
    font-family: @fontRob;
    font-weight: 100;
    position: absolute;
    width: 100%;
    text-align: center;
    .text-shadow(0px 0px 15px @colorGrey);
    top: 45%;
    z-index: 5;
    i {
      .text-shadow(none);
    }
  }
}

form {
  label {
    display: block;
  }

  input[type=text],
  input[type=password],
  textarea,
  select {
    padding: 0.25em 0.5em;
    border: 0;
    font-size: @sizeMS;
    font-family: @fontPT;
    width: 60%;
    max-width: 500px;
    border: 2px solid transparent;
    .transition(border 0.5s);
    &:focus {
      border: 2px solid @colorLink;
      outline: none;
      .transition(border 0.5s);
    }
  }

  input[type=reset],
  input[type=submit],
  input[type=button],
  button {
    padding: 0.5em 2em;
    background: @colorPrimary;
    border: none;
    color: @colorWhite;
    display: block;
    font-family: @fontRob;
    font-size: @sizeM;
    letter-spacing: 0.2px;
    .transition(all 0.5s);
    &:hover {
      outline: none;
      background: @colorLink;
      cursor: pointer;
      .transition(all 0.5s);
      .box-shadow(0px 0px 5px fadeout(@colorLink, 20%));
    }
  }
}

nav {
  position: relative; 
  i {
    color: @colorWhite;
    font-size: @sizeL;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0.5em;
    float: right;
    &:hover + ul {
      display: block;
    }
  }
  ul {
    line-height: 1.5em;
    display: none;  
    padding-left: 0;
    margin: 0;
    right: 0;
    top: 40px;
    padding: 1em 1.2em;
    position: absolute;
    z-index: 2;
    background: @colorPrimary;
    float: right;
    .box-shadow(0px 5px 12px 1px @colorBlackT80);
    &:hover {
      display: block;
    }
    li {
      list-style: none;
      margin-right: 0.5em;
      a {
        color: @colorWhite;
        .transition(font-weight 0.4s);
        text-transform: uppercase;
        &:hover {
          color: @colorWhite;
          border-bottom: 1px dotted @colorWhite;
          .transition(font-weight 0.4s);
        }
      }
    }
  }
}

.colours {
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: @spacingS;
      width: 48%;
      margin-right: 2%;
      float: left;
      &:before {
        content: "";
        width: 52px;
        height: 52px;
        display: block;
        float: left;
        margin-right: 1.2em;
      } 
      span {
        display: block;
        color: @colorMeta;
        font-size: @sizeS;      
      }
      &.one:before {
        background: @colorPrimary;
      }
      &.two:before {
        background: @colorSecondary;
      }
      &.three:before {
        background: @colorTertiary;
      }
      &.four:before {
        background: @colorOffBlack;
      }
      &.five:before {
        background: @colorGrey;
      }
      &.six:before {
        background: @colorLink;
      }
    }
  }
}

footer {
  padding: 1.2em 0em 1.2em 0em;
  background: @colorLink;
  color: @colorWhite;
}