/**
 * Author(s): James Morris
 *
 * SITE
 *
 * Project base styles go here. E.g h1, h2, h3, body, p...
 * Anything that can be reused should go in site-mixins as a mixin
 */

@import 'reset.less';
@import 'variables.less';
@import 'core-mixins.less';
@import 'site-mixins.less';
@import 'grid.less';
@import 'graph.less';

/**
 * CONTENTS
 * To search quickly for a main section prefix search terms with $
 */

/**
 * CONTENTS............You’re reading it!
 * RESET...............Any remaining browser reset styles
 * CORE................Core body, paragraph and link styles
 * HEADINGS............h1 to h6
 * 
 */

/**
 * $CORE
 */

body {
  font-size: @sizeBase;
  font-family: @fontPT;
  background: @colorWhite;
  color: @colorOffBlack;
  line-height: @lineHeight;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/**
* $HEADINGS
*/

h1, h2, h3, h4, h5, h6 {
  font-family: @fontRob;
  font-weight: 100;
  margin: 0 0 0.5em 0;
  line-height: @lineHeightForm;
  text-rendering: optimizeLegibility
}

h1 {
  font-size: @sizeXXL;
}

h2 {
  font-size: @sizeXL;
}

h3 {
  font-size: @sizeL;
}

h4 {
  font-size: @sizeML;
}

h5 {
  font-size: @sizeM;
}

h6 {
  font-size: @sizeMS;
}

p {
  margin-bottom: 1em;
}

pre, code {
  border:none;
  margin: 0 0 1em 0;
}

blockquote {
    font-style: italic;
    margin: 1em 0 1em;
    padding: 0 0 0 70px;
    border-left:none;
    p {
      margin-bottom: 0;
    }
}

strong {
  font-weight: strong;
}

em {
  font-style: italic;
}

/* $TABLE */

table {
  tr {
    th {

    }
    td {
      padding: 0.25em 0.4em;
    }
  }
}


/* $LISTS */

ul,
ol,
dir {
  padding-left: 1.5em;
  margin-bottom: 0.8em;
}

menu {
  padding: 0;
}

/* $LINKS */

a {
  color: @colorLink;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: @colorLinkHover;
    text-decoration: none;
  }
}

/* $IMAGES */

img {
  width: 100%;
  height: auto;
}
