/**
 * Author(s): James Morris
 *
 * SITE MIXINS
 *
 * Includes all mixins that are shared across the site, 
 * both parametric (function) mixins and standard mixins.
 *
 * MIXIN EXAMPLE:
 *  ul {
 *    .some-reusable-class;
 *  }
 * 
 * PARAMETRIC MIXIN EXAMPLE: 
 *  .parametric-mixin(@param1, @param2) {
 *    color: @param1;
 *    background: @param2;   
 *  }
 *
 */

@import 'variables.less';
@import 'core-mixins.less';


/**
 * CONTENTS
 */

/**
 * CONTENTS............You’re reading it!
 * 
 */

 .hoz-list(@bullType: none, @marginL: 1em) {
 	display: inline-block;
 	li {
 		margin-left: @marginL;
 		list-style: @bullType;
 	}
 }

//Text long shadow
.longShadow(@color, @size, @spread: 100, @flag: 1, @tmp: '') when (@size > 0) {
  @percent: round(@flag / @size * 100) * @spread;
  @shadowColor: fade(@color, @percent);
  @shadow: ~"@{size}px @{size}px 1px @{shadowColor}";
  @ends: ~"@{shadow}, @{tmp}";
  @shadowString: ~"@{ends} 0px 0px 1px #000";

  .longShadowLoop(@string, @index) when (@index < 1) {
    text-shadow: @string;
  }

  .longShadowLoop(@shadowString, @size - 1);
  .longShadow(@color, @size - 1, @spread, @flag + 1, @ends);
}

// Box-shadow
.longShadowBox(@color, @size, @spread: 1, @flag: 1, @tmp: '') when (@size > 0) {
  @percent: round(@flag / @size * 100) * @spread;
  @shadowColor: fade(@color, @percent);
  @shadow: ~"@{size}px @{size}px 0 0 @{shadowColor}";
  @ends: ~"@{shadow}, @{tmp}";
  @shadowString: ~"@{ends} 0px 0px 0 0 #000";

  .longShadowLoop(@string, @index) when (@index < 1) {
    -webkit-box-shadow: @string;
       -moz-box-shadow: @string;
            box-shadow: @string;
  }

  .longShadowLoop(@shadowString, @size - 1);
  .longShadowBox(@color, @size - 1, @spread, @flag + 1, @ends);
}