/**
 * Author(s): James Morris
 *
 * VARIABLES
 *
 */

/**
 * CONTENTS
 */

/**
 * CONTENTS.................You’re reading it!
 * GLOBAL VALUES
 *  Colours..................Colours!
 *  Typography...............Styles and sizes
 *  Grid vars................Define your grid
 *  Spacing & Line height ...Margins, paddings etc.
 */

/**
 * $GLOBAL VALUES
 */

/**
 * $Colours
 * @color[your variant name]
 */

@colorPrimary:        #00940a; /* Forest Green */
@colorSecondary:      #0095db; /* Water blue */
@colorTertiary:       #cba354; /* Pine needles brown */

@colorPrimary10: 	  lighten(@colorPrimary, 10%);
@colorPrimary5: 	  darken(@colorPrimary, 5%);
@colorPrimaryT30:     fadeOut(@colorPrimary, 30%);

@colorWhite:          #fff;    /* White */
@colorBlack:          #000;    /* Black */
@colorOffBlack: 	  #333;
@colorGrey:           #fafafa; /* Ash */

@colorBlackT80:       fadeout(@colorBlack, 80%);
@colorWhiteT40:       fadeout(@colorWhite, 40%);

@colorMeta:           lighten(@colorBlack, 65%); /* 'Pencil' Grey */

/* Links */

@colorLink:           #7A5000;  /* Pine cones */
@colorLinkHover:      lighten(@colorLink, 15%);   

/* Errors */
@colorStatus:         #86b24a; /* Lime green */ 
@colorWarning:        #dbba17; /* Murky yellow */
@colorError:          #c25d51; /* Murky red */ 


/**
 * $Typography
 */

/* $Font family 
* @font[your variant name]
*/
@fontPT:   'PT Sans', sans-serif;
@fontRob:  'Roboto', sans-serif;

/* $Font sizes 
* @size[your variant name]
*/
@sizeBase: 16px;
@sizeCopy: @sizeBase;

/* $Heading sizes */
@sizeSu:    3.250em; /* Super 52px */
@sizeXXL:   2.250em; /* 36px */
@sizeXL:    1.750em; /* 28px */
@sizeL:     1.500em; /* 24px */
@sizeML:    1.250em; /* 20px */
@sizeM:     1.125em; /* 18px */
@sizeMS:    1em;     /* Base 16px */
@sizeS:     0.875em; /* 14px */
@sizeSS:    0.750em; /* 12px */

/* $Other sizes */

/*@sizeCaption: */

/**
 * $Spacings & $Line-height
 * @lineHeight[your variant name]
 */

@spacingXL:           @spacingM * 2; /* 42px */
@spacingL:            @spacingM + @spacingS; /* 36px */
@spacingM:            1.8em; /* 24px */
@spacingS:            @spacingM / 2; /* 12px */

/* Line heights */
@lineHeightHeader:    1em;
@lineHeightForm:      1.3em;
@lineHeight:          1.65em;

/**
 * $Grid system
 */
 
@maxGridCols: 12;
@gutterPercent: 1.8%;
@maxWidth: 1000px;